* {
    text-align: center;
}

table{
    text-align: center;
    margin-left: 40%;
 
}

body {
    margin: 0;
    margin-top: 10%
}
.forman, h1, p{
   border-style: solid;
   border-color: #000;
   border-width: 10px;
}